/*!
            _         _                                  
           | |       | |                                 
 __   __,  | |  _    | |   __,   ,   ,   __,   _  _  _   
/    /  |  |/  |/    |/ \_/  |  / \_/ \_/  |  / |/ |/ |  
\___/\_/|_/|__/|__/   \_/ \_/|_/ \/  \/ \_/|_/  |  |  |_/
           |\                                            
           |/                        

-------------------------------------------
  CSS MAP
-------------------------------------------

  1. General Styling
  2. Nav Bar
  3. Header
  4. Content
  5. Our Story
  6. Menu
  7. Gallery
  8. Press
  9. Contact
  10. Footer
  
-------------------------------------------*/

/*----------------------------------------------- 

  1. General Styling  

------------------------------------------------*/

body {
  width: 100%;
  height: 100%;
  font-family: "adobe-garamond-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #00253c;
  background-color: #e1dad5;
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
html {
  width: 100%;
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #00253c;
  letter-spacing: 3px;
}
p {
  margin: 0 0 35px;
  font-size: 12px;
  line-height: 1.5;
  color: #00253c;
  font-size: 1.4em;
}
@media (min-width: 750px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: "futura-pt";
  font-weight: 600;
  letter-spacing: 3px;
  color: #00253c;
}
a:hover, a:focus {
  text-decoration: none;
  color: #1d9b6c;
}
.light {
  font-weight: 400;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
.futura {
  font-family: "futura-pt";
  font-weight: 500;
}

/*----------------------------------------------- 

  2. Nav Bar 

------------------------------------------------*/

.navbar-custom {
  margin: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2b3037;
  font-weight: 500;
  letter-spacing: 3px;
  width: 100%;
}

.navbar-custom .container {
  width: 100%;
}
.navbar-custom .logo {
  margin-left: 15px;
  width: 40%;
}
.navbar-custom .navbar-toggle {
  color: white;
  background-color: transparent;
  font-size: 36px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 600;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  line-height: 50px;
}
.navbar-custom .nav li a:hover {
  color: rgba(231, 220, 82, 1);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li a.active {
  color: rgba(231, 220, 82, 1);
}
.navbar-custom .nav li.active a:hover {
  /*color: #fff;*/
}
/* Desktop */
@media (min-width: 750px) {
  .navbar-custom {
    padding: 0px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: rgba(43, 48, 55, 1);
  }
}
/* Mobile */
@media (max-width: 750px) {
  .navbar-custom {
    background: transparent;
    border: none;
  }
  .navbar-custom.top-nav-collapse {
    background: #00253c;
    padding: 0;
    background: transparent;
  }
  .navbar-custom .logo {
    width: 90%;
  }
  .navbar-header {
    background: transparent;
  }
  .navbar-collapse {
    max-height: 100% !important;
    height: 100vh;
    background-color: #00253c;
    border-top: none;
  }
  .navbar-custom .nav li a {
    padding-left: 60px;
  }
  .navbar-custom .logo {
    margin-left: 15px;
    width: 40%;
  }
  .hamburger-menu {
    margin-right: 15px;
  }
}

/*----------------------------------------------- 

  3. Header

------------------------------------------------*/

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 24px;
}
.intro .intro-body .intro-text {
  color: #ffffff;
}
.cafe-bassam-led {
    width: 60%;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 24px;
    font-style: italic;
    color: #ffffff;
  }
}

@media (max-width: 750px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 24px;
    font-style: italic;
  }
  .cafe-bassam-led {
    width: 80%;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

/*----------------------------------------------- 

  4. Content

------------------------------------------------*/

.content-section {
  padding: 0;
}
.container {
  width: 100%;
}
.content-section a {
  color: #2b3037;
}
.btn-outline-dark {
  background: transparent;
  border: 2px #2b3037 solid;
  padding: 10px;
}
.btn-outline-dark:hover {
  background: #2b3037;
  border: 2px #2b3037 solid;
  padding: 10px;
}
.content-section a:hover {
  color: #e1dad5;
}
.row {
  background-color: inherit;
  width: 100%;
  margin: 0;
}
.our-story-section {
  padding: 100px;
  background-color: #e1dad5;
  text-align: center;
}
.our-story-section1{
  padding: 100px;
  background-color: #e1dad5;
  text-align: left;
}
.our-story-section1 h2{
  text-align: center;
}
#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}
@media (max-width: 750px) {
  .content-section 
    padding-top: 0px;
  }
  .our-story-section {
    padding: 100px 60px;
  } 
  .our-story-section1 {
    padding: 100px 60px; 
  }
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }
}
.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.image-bg-fixed-height {
  background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
    height: 450px;
}
.img-center {
  margin: 0 auto;
}
section {
    padding: 75px 0;
}
.section-heading {
    margin: 30px 0;
    font-size: 4em;
}
.section-lead {
    margin: 30px 0;
}
.section-paragraph {
    margin: 30px 0;
}
.btn {
  text-transform: uppercase;
  font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
  letter-spacing: 3px;
}
.btn-default {
  border: 1px solid #42DCA3;
  color: #42DCA3;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #42DCA3;
  outline: none;
  color: black;
  background-color: #42DCA3;
}

/*----------------------------------------------- 

  5. Our Story

------------------------------------------------*/

.image-bg-ourstory{
  background: url(../img/banner.png) no-repeat center center scroll;
  padding: 200px 0;
  background-size: cover;
}

.image-bg-ourstory1{
  background: url(../img/ourstory1.jpg) no-repeat center center scroll;
  padding: 300px 0;
  background-size: cover;
}

.image-bg-ourstory2{
  background: url(../img/ourstory2.jpg) no-repeat center center scroll;
  padding: 300px 0;
  background-size: cover;
}


/*----------------------------------------------- 

  6. Menu

------------------------------------------------*/
.image-bg-menu{
  background: url('../img/menubanner.jpg') no-repeat center center scroll;
  padding: 200px 0;
  background-size: cover;
}
.menu {
  padding-bottom: 50px;
  background-color: #ffffff;
  width: 100%;
}
table {
  letter-spacing: 1px;
   width: 100%;
   height: 100%;
}
th {
  padding: 15px;
  text-align: left;
  vertical-align: top;
   font-family: "learning-curve";
   font-size: 30px;
   color: #00253c;
   background-color: transparent;
}
.right {
  text-align: right;
}
td {
    padding: 10px;
  text-align: left;
  vertical-align: bottom;
  color: #00253c;
  background-color:transparent;

}
.headertwo h2 {
  text-align: center;
  color: #00253c;
  background-color: #f4f4f4;
  padding-bottom: 30px;
  padding-top: 100px;
  margin: 0px;
 vertical-align: middle;
}
.headerthree h3 {
 padding-top:100px;
 padding-bottom:50px;
  text-align: center;
  vertical-align: middle;
   font-family: "futura-pt";
   font-size: 25px;
   color: #00253c;
   background-color: transparent;
}
.headerfour h4 {
 padding-top:10px;
 padding-bottom:30px;
  text-align: center;
  vertical-align: middle;
   font-family: "futura-pt";
   font-size: 20px;
   color: #00253c;
   background-color: transparent;
   margin-top:-5%;
}
.headerfive h5 {
  text-align: center;
  vertical-align: top;
   padding-top: 100px;
   font-size: 20px;
   color: #00253c;
   background-color: transparent;
  
}
.headersix h6 {
  text-align: center;
  vertical-align: top;
   padding: 15px;
   font-size: 20px;
   color: #00253c;
   background-color: transparent;
  
}

.nav-tabs > li {
    float:none;
    display: inline-block;
   font-family: "futura-pt";
   text-transform: uppercase;
   letter-spacing: 3px;
    zoom:1;
    padding: 40px;      
     padding-bottom: 0px;   
}
.nav-tabs > li:active {
  background-color:transparent;
    text-decoration: underline;
}
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve,
.thirteen {
  width: 75%;
  margin-left: 15%;
}
.tea {
  width: 75%;
    margin-left: 15%;
}
.tea1 {
  width: 75%;
    margin-left: 35%;
}

@media only screen and (max-width:768px) {
  .nav-tabs > li {
      padding: 0px;      
  }
  .one,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight,
  .nine,
  .ten,
  .eleven,
  .twelve,
  .thirteen {
    width: 100%;
    margin-left: 0%;
  }
  .tea1 {
  width: 75%;
    margin-left: 15%;
}
}
.nav-tabs {
    text-align:center;
    background-color: #f4f4f4;
    width: 100%;
}
.container {
  padding: 0px;
}

/*----------------------------------------------- 

  7. Gallery

------------------------------------------------*/
.image-bg-gallery {
  background: url('../img/4.jpg') no-repeat center center scroll;
  padding: 200px 0;
  background-size: cover;
}
.gallery-section {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #ffffff;
}
.image-gallery-item { 
  margin-bottom: 30px;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
}

@media (max-width: 736px) {
  .gallery-section {
    padding-top: 55px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .image-gallery-item {
    margin-bottom: 2px;
  }
  .image-bg-gallery{
    padding: 100px 0;
  }
  .row.no-gutters {
    margin-right: 0px;
    margin-left: 0px;
  }
  .row.no-gutters > [class^="col-"],
  .row.no-gutters > [class*=" col-"] {
    padding-right: 1px;
    padding-left: 1px;
  }
}
/*----------------------------------------------- 

  8. Press

------------------------------------------------*/


.image-bg-press {
  background: url('../img/press-img/1.png') no-repeat center center scroll;
  padding: 200px 0;
  background-size: cover;
}

#press h2 {
  text-align: center;
  padding-bottom: 50px;
}

#press p {
  width: 100%;
  text-align: justify;
  padding-left: 2%;
}

#press img.news-icon {
  width: 35px;
}

#press h3.title {
  width: 100%;
  margin: 0 0 35px;
  text-transform: uppercase;
  /*font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 3.3em;*/
  color: #00253c;
  letter-spacing: 3px;
}

#press .rowspace {
  padding-bottom: 130px;
}

#press .readmorebot {
  visibility: hidden;
}

#press .readmoretop p {
  text-align: right;
}

#press .readmoretop a {
  font-size: 1em;
}

#press img {
  width: 100%;
}


#press .container {
  padding: 0 15%;
}


.hr-divider {
  margin-top: 30%;
  width: 55%;
  background-color: #000;
  display: block;
  height: 1.5px;
  border: 0;
  border-top: 1px solid #ccc;
}


@media (max-width: 750px) {
  #press {
    overflow: hidden;
  }

  #press .rowspace {
    margin-bottom: -100px;
  }


  .hr-divider {
    margin-top: -50px;
    margin-left: 75px;
  }

  #press h2 {
    padding-bottom: 0px;
  }

  #press img.news-icon {
    width: 12%;
  }

  #press .readmoretop {
    visibility: hidden;
  }

  #press .readmorebot {
    visibility: visible;
    padding-bottom: 25%;
    margin-top: 10%;
    text-align: center;
  }


  #press img {
    margin-left: -4.5%;
    margin-bottom: 3%;
  }

  #press h3.title {
    text-align: center;
    margin-left: -5%;
    padding-top: 8%;
    margin-bottom: 5%;
    font-size: 2em;
    font-weight: 700;
  }

  #press p {
    width: 90%;
    font-size: 1.2em;
    margin-top: -15%;
  }

  #press .container {
    margin-left: 3%;
    padding: 0 5%;
  }


  #press h3.title {
    font-size: 1.7em;
    font-weight: 600;
    padding-bottom: 20px;
  }

  /*#press .press-credit {
    margin-top: -2%;
    font-size: 1.1em;
    margin-left: 45%;
    text-align: right;
    width: 40%;
  }

  .hr-line {
    visibility: visible;
    background-color: #000;
    margin-left: -15%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
  }*/
}


/*----------------------------------------------- 

  9. Contact

------------------------------------------------*/
#contact {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -65px; /* margin: 0 auto -80px; */
}
.image-bg-contact{
  background: url('../img/contactimgbg.jpg') no-repeat center center scroll;
  padding: 200px 0;
  background-size: cover;
}
.contact-section {
  padding: 100px;
  background-color: #2b3037;
}
.contact-section p, .contact-section h2 {
  color: #F4f4f4;
}
.contact-section a {
  color: #c1c1c1;
}
.contact-section a:hover {
  color: #2b3037;
}
.btn-outline-light {
  background: transparent;
  border: 2px #c1c1c1 solid;
  padding: 10px;
}
.btn-outline-light:hover {
  background: #F4f4f4;
  border: 2px #F4F4f4 solid;
  padding: 10px;
}
.contact-map {
  width: 100%;
  background-color: #2b3037;
  height: 400px;
  /*margin-bottom: 40px;*/
}
.contact-map iframe{
    pointer-events: none;
}
@media (max-width: 750px) {
  .contact-map {
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    height: 400px;
  }
  .contact-section {
    padding: 100px 10px;
  }
  .image-bg-contact{
    background: url('../img/contactimgbg.jpg') no-repeat center center scroll;
    padding: 200px 0;
    background-size: cover;
  }
}

/*----------------------------------------------- 

  10. Footer

------------------------------------------------*/

.social-media, .social-media-contact {
  color: #f4f4f4;
  text-align: center;
}
.social-media p, .social-media-contact p,
.social-media-contact a, .social-media a {
  color: #f4f4f4;;
  font-size: 18px;
  margin-bottom: 20px;
}
@media (max-width: 750px) {
  .social-media-contact p {
    height: 40px;
    font-size: 26px;
    margin-top:0px;
  }
  footer p {
    margin: 0;
    font-family: futura-pt; 
    font-weight: 500; 
    letter-spacing: 5px; 
    font-size: 8px !important;
    color: #ffffff;
  }
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
footer {
  padding: 50px 0;
  background: rgba(53, 42, 43, 1);
}
footer p {
  margin: 0;
  font-family: futura-pt; 
  font-weight: 500; 
  letter-spacing: 5px; 
  font-size: 12px;
  color: #ffffff;
}
